doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body
        |%=symbols=%

        .l-grid
            h1.title This is just a PS4 gamepad

            .dualshock
                .dualshock__horn.dualshock__horn--left
                    .dualshock__shift.dualshock__shift--left
                        .dualshock__trigger
                .dualshock__middle-path
                    .dualshock__button-circle.dualshock__button-circle--left
                    .dualshock__stick-circle.dualshock__stick-circle--left
                    .dualshock__touchpad
                    .dualshock__button-circle.dualshock__button-circle--right
                    .dualshock__stick-circle.dualshock__stick-circle--right
                .dualshock__horn.dualshock__horn--right
                    .dualshock__shift.dualshock__shift--right
                        .dualshock__trigger

            +footer()
