// File for scss-vars.
// For example: main colors, paddings and so on.

$basic-font-size: 10px;

$font-black: #333;

$hd: 1920px;
$large: 1280px;
$desktop: 1024px;
$tablet: 768px;
$fablet: 580px;
$phone: 380px;
