// File for scss-vars.
// For example: main colors, paddings and so on.

$basic-font-size: 10px;

$black: #232323;
$touchpad: #191919;
$gamepad: #232323;
$shift: $gamepad;
$trigger: #111;
$circle: $trigger;


$hd: 1440px;
$large: 1280px;
$desktop: 1024px;
$tablet: 768px;
$fablet: 580px;
$phone: 380px;
