mixin footer()
    footer.c-footer


    script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
    script(src='%=static=%js/main%=hash=%%=min=%.js')
    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();
