mixin footer()
    footer.c-footer
        img.c-footer__image-bg(src='%=static=%images/general/footer_bg.jpg')
        .l-grid__footer
            .c-footer__logo-copyright
                a.c-footer__logo(href='index.html')
                    img.c-logo-image(src='%=static=%images/general/logo.png')
                p.c-footer__copyright-text.
                    &copy; 1996-2017. ООО «Международная компания "Сибирское здоровье»<br>
                    Все права защищены.
            .c-footer__info-contacts
                p.c-footer__text ИНН 5407953006
                p.c-footer__text ОГРН 1165476080362
                p.c-footer__text.
                    Адрес: 630004, г. Новосибирск, ул. Ленина, 48, этаж 4, пом. 64
                p.c-footer__text.c-footer__info-text--mail E-mail:
                    a.c-footer__mail(href='mailto:call-centre@sibvaleo.com') call-centre@sibvaleo.com
                p.c-footer__text Бесплатная горячая линия: 8-800-755-87-5
                .c-footer__logo-promo
                    img.c.c-footer__promo-image(src='%=static=%images/general/logo-teaser.png')
                ul.c-footer__social-list
                    li.c-footer__social-item
                        a.c-footer__social-link(href='#' target='_blank')
                            img.c-footer__social-image(src='%=static=%images/general/social-icon-vk.png')
                    li.c-footer__social-item
                        a.c-footer__social-link(href='#' target='_blank')
                            img.c-footer__social-image(src='%=static=%images/general/social-icon-fb.png')
                    li.c-footer__social-item
                        a.c-footer__social-link(href='#' target='_blank')
                            img.c-footer__social-image(src='%=static=%images/general/social-icon-tw.png')
                    li.c-footer__social-item
                        a.c-footer__social-link(href='#' target='_blank')
                            img.c-footer__social-image(src='%=static=%images/general/social-icon-ok.png')
                    li.c-footer__social-item
                        a.c-footer__social-lin(href='#' target='_blank')
                            img.c-footer__social-image(src='%=static=%images/general/social-icon-ig.png')


    script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
    script(src='%=static=%js/main%=hash=%%=min=%.js')
    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();
