mixin header()
    header.c-header
        img.c-header__image-bg(src='%=static=%images/general/header_bg.jpg')
        .l-grid__header
            a.c-header__logo(href='index.html')
                img.c-logo-image(src='%=static=%images/general/logo.png')
            .c-header__hashtag
                img.c-header__hasgtag-image(src='%=static=%images/general/header-text-image.png')
            a.c-header__lang(href='#') Русский

